
/* Navbar styling section */
.navbar{
  background-color: #1f2937;
  color: #fff;
  position: relative;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.navbar ul .nav-link a:hover{
  background-color: yellow;
  color: black;
}

.navbar .logo img{
  width: 40px;
  padding: 0.5rem;
}

/* Style the input container */
#ul .login-container {
  float: right;
}


/* Footer styling */
.footer{
  background: #fff;
  padding:  1rem;
  border-top: 1px solid #999;

}
#footer{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

#footer{
  display: flex;
  list-style: none;
  gap: 2rem;
}

#footer{
  color: #999;
}